version: 2
updates:
  # go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      otel:
        patterns:
        - "go.opentelemetry.io/*"
      spf13:
        patterns:
        - "github.com/spf13/*"
      golang.org/x/:
        patterns:
        - "golang.org/x/*"
      go-agent:
        patterns:
        - "go.elastic.co/apm*"
  # go tools
  - package-ecosystem: "gomod"
    directory: "tools/"
    schedule:
      interval: "weekly"
  # otelinmemexporter
  - package-ecosystem: "gomod"
    directory: "cmd/otelinmemexporter/"
    schedule:
      interval: "daily"
    groups:
      otel:
        patterns:
        - "go.opentelemetry.io/*"
      golang.org/x/:
        patterns:
        - "golang.org/x/*"

  # GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"
