# Builds and publishes a container image to docker.elastic.co/observability-ci/apm-perf:latest
# This workflow is triggered on push to main branch when cmd, loadgen, soaktest, Containerfile or this file are changed
name: publish-docker-images

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/publish-docker-image.yml"
      - "cmd/**"
      - "loadgen/**"
      - "soaktest/**"
      - "Containerfile"

permissions:
  contents: read

jobs:
  publish-container-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Log in to the Elastic Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ secrets.ELASTIC_DOCKER_REGISTRY }}
          username: ${{ secrets.ELASTIC_DOCKER_USERNAME }}
          password: ${{ secrets.ELASTIC_DOCKER_PASSWORD }}
      - name: Build container image
        run: make package
      - name: Test container image
        run: make sanitize
      - name: Push container image
        run: make publish
